# MySQL - User Service

MYSQL_DATABASE=hotel_review
MYSQL_USER=hrs_user
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
MYSQL_PORT=3306


# PostgreSQL - Hotel Service

POSTGRES_DB=hotel_db
POSTGRES_USER=hrs_user
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432


# MongoDB - Rating Service

MONGO_DATABASE=rating_db
MONGO_PORT=27017


# Config Server

CONFIG_REPO_URI=https://github.com/your-account/your-config-repository.git
CONFIG_REPO_BRANCH=main


# Zipkin

ZIPKIN_PORT=9411


# Okta

OKTA_ISSUER=https://your-okta-domain/oauth2/default
OKTA_CLIENT_ID=change-me
OKTA_CLIENT_SECRET=change-me