########################################
# Spring Cloud Config Server
########################################
CONFIG_SERVER_URL=http://localhost:7054

########################################
# Eureka Service Registry
########################################
EUREKA_SERVER_URL=http://localhost:8761/eureka/

########################################
# Zipkin Distributed Tracing
########################################
ZIPKIN_ENDPOINT=http://localhost:9411/api/v2/spans

########################################
# Okta OAuth2 / OIDC
########################################
OKTA_ISSUER_URI=https://your-okta-domain/oauth2/default
OKTA_CLIENT_ID=<YOUR_OKTA_CLIENT_ID>
OKTA_CLIENT_SECRET=<YOUR_OKTA_CLIENT_SECRET>
OKTA_REDIRECT_URI=http://localhost:7053/login/oauth2/code/okta