# MySQL - User Service

USER_DB_NAME=userservice
USER_DB_USERNAME=hrs_user
USER_DB_PASSWORD=change-me


# PostgreSQL - Hotel Service

HOTEL_DB_NAME=hotelDB
HOTEL_DB_USERNAME=hrs_user
HOTEL_DB_PASSWORD=change-me


# MongoDB - Rating Service

RATING_DB_NAME=ratingService


# Config Server

CONFIG_REPO_URI=https://github.com/your-account/your-config-repository.git
CONFIG_REPO_BRANCH=main


# Okta OAuth2 / OIDC

OKTA_ISSUER_URI=https://your-okta-domain/oauth2/default
OKTA_CLIENT_ID=change-me
OKTA_CLIENT_SECRET=change-me
OKTA_REDIRECT_URI=http://localhost:7053/login/oauth2/code/okta