########################################
# MongoDB Configuration
########################################
RATING_DB_URI=mongodb://localhost:27017/<DATABASE_NAME>

########################################
# Spring Cloud Config Server
########################################
CONFIG_SERVER_URL=http://localhost:7054

########################################
# Zipkin Distributed Tracing
########################################
ZIPKIN_ENDPOINT=http://localhost:9411/api/v2/spans

########################################
# Okta OAuth2 / JWT
########################################
OKTA_ISSUER_URI=https://your-okta-domain/oauth2/default